.logo{
    font-weight: bold;
    font-size: 3.5rem;
    color: #E85A4F;
}

.title{
    color: $color-black;

    &__slide{
        margin-top: 7rem;
        color: $color-black;
    }

    &__standard{
        font-size: 2.5vw;
        text-align: justify;

        &::after{
            content:"";
            display: inline-block;
            width:fit-content;
        }
    }

    &__highlight{
        font-size: 3.5vw;
        text-align: justify;
        background-color: $color-secondary-dark;
        font-style: italic;
        padding: 0 1rem;
        font-weight: 700;

        &::after{
            content:"";
            display: inline-block;
            width:fit-content;
        }
    }
}

.description{
    font-size: 1vw;
    text-align: center;

    &::after{
        content:"";
        display: inline-block;
        width:fit-content;
    }

    &__slide{
        margin: 3rem 4rem 2rem 0;
        color: $color-secondary-light;
        font-weight: 700;
        align-self: center;
    }
}
//MOVEMENT/MOMENT