@import "abstracts/variables";

@import "base/utilities";

@import "components/container";
@import "components/navbar";
@import "components/search-bar";
@import "components/slider";
@import "components/button";
@import "components/category";
@import "components/product";
@import "components/newsletter";
@import "components/bg-video";
@import "components/footer";
@import "components/filter";
@import "components/item";
@import "components/divider";
@import "components/quantity";

@import "base/typography";

@import "pages/home";
@import "pages/register";
@import "pages/login";


*,
*::before,
*::after {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  box-sizing: inherit;
}
body{
  background-color: #EAE7DC;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  //max-width: 2560px;
  padding: 0;
  margin: 0;
}
