.skew {
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.skew:hover {
  -webkit-transform: skewX(-20deg) translateX(5%);
          transform: skewX(-20deg) translateX(5%);
}

.margin-top {
  margin-top: 1.5rem;
}

.overflow {
  overflow: hidden;
}

.container--announcement {
  height: 30px;
  background-color: #E85A4F;
  color: #EAE7DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.container--navbar {
  height: 60px;
}

.container__slider {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAE7DC;
  position: relative;
}

.navbar--wrapper {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1600px;
}

.navbar--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #2f2b2e;
}

.navbar--center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.navbar--language {
  font-size: 14px;
  cursor: pointer;
  color: #2f2b2e;
}

.navbar--menu-item {
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: 25px;
}

.search-bar {
  border: .5px solid #8E8D8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.search-bar--input {
  border: none;
}

.slider {
  height: 100vh;
  width: 100%;
}

.slider--arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #E85A4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: absolute;
  cursor: pointer;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  z-index: 1;
  opacity: .5;
}

.slider--arrow:hover {
  border: 3px solid #E85A4F;
  -webkit-box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.25);
          box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.25);
  opacity: 1;
}

.slider--arrow__left {
  top: 90%;
  left: 84%;
}

.slider--arrow__left:hover {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.slider--arrow__right {
  top: 90%;
  right: 7%;
}

.slider--arrow__right:hover {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.slider--arrow-icon {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  color: #EAE7DC;
}

.slider--slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.slider--image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.slider--image {
  height: 90%;
  min-width: 50%;
  margin: auto;
  -webkit-filter: contrast(0.8) .slider--image __hijab;
          filter: contrast(0.8) .slider--image __hijab;
  filter-filter: contrast(0.8);
}

.slider--info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  height: 100%;
  padding-left: 2rem;
  min-height: 100%;
  min-width: 25%;
}

.slider__info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.button__slide {
  margin: 0 auto;
  cursor: pointer;
}

.splitColor {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 3.5rem;
  padding: 3rem 3rem;
  position: relative;
  overflow: hidden;
  letter-spacing: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 70%;
  margin: 2rem auto;
}

.splitColor__category {
  color: #EAE7DC;
  border: 0.5rem solid #EAE7DC;
  -webkit-filter: drop-shadow(0rem 0rem 1rem #2f2b2e);
          filter: drop-shadow(0rem 0rem 1rem #2f2b2e);
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.splitColor__slide {
  color: #2f2b2e;
  border: 0.5rem solid #2f2b2e;
}

.splitColor:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2b2e;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  z-index: -1;
}

.splitColor:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-color: #2f2b2e;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  z-index: -1;
}

.splitColor:hover::before {
  -webkit-transform: rotateX(0deg) scale(2);
          transform: rotateX(0deg) scale(2);
}

.splitColor:hover::after {
  -webkit-transform: rotateY(0deg) scale(2);
          transform: rotateY(0deg) scale(2);
}

.splitColor:hover {
  color: #EAE7DC;
  background-color: #2f2b2e;
  letter-spacing: .6rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.4);
          box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  height: 50vh;
  position: relative;
  margin-bottom: 2rem;
  min-width: 1600px;
}

.category:hover .category--item:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.category::after {
  content: '';
  height: .5rem;
  width: 60%;
  background-color: #E98074;
  position: absolute;
  top: 1.5%;
  left: 20%;
  margin-left: -5px;
}

.category--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.category--item:not(:first-child)::after {
  content: '';
  height: 60%;
  width: .5rem;
  position: absolute;
  left: -2.25rem;
  top: 12%;
  background-color: #E98074;
}

.category--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.9) contrast(0.9);
          filter: brightness(0.9) contrast(0.9);
}

.category--title {
  margin-bottom: 3rem;
  -webkit-filter: drop-shadow(0rem 0rem 1rem #2f2b2e);
          filter: drop-shadow(0rem 0rem 1rem #2f2b2e);
}

.category--info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #EAE7DC;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.category--info:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.4);
          box-shadow: 0 1rem 2rem rgba(47, 43, 46, 0.4);
}

.product {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  min-width: 1600px;
  margin-bottom: 5rem;
  position: relative;
  opacity: .9;
}

.product--item-container {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--image {
  width: 100%;
  height: 100%;
}

.product--icons-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -1rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5rem;
  margin-top: 1rem;
  z-index: 2;
  opacity: 0;
  background-color: rgba(47, 43, 46, 0.2);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.product--icons-container:hover {
  opacity: 1;
}

.product--icon {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  color: #E98074;
  z-index: 3;
  width: 15%;
}

.product--icon-bg {
  background-color: #EAE7DC;
  border-radius: 50%;
  padding: 1.5rem;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.product--icon-bg:hover {
  background-color: #E98074;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product--icon-bg:hover .product--icon {
  color: #EAE7DC;
}

.product--icon-bg:not(:last-child) {
  margin-right: 15%;
}

.newsletter {
  height: 60vh;
  background-color: rgba(233, 128, 116, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #EAE7DC;
  overflow: hidden;
  position: relative;
  opacity: 1;
}

.newsletter--title {
  font-size: 7rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 1;
  opacity: 1.5;
}

.newsletter--description {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
  z-index: 1;
}

.newsletter--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  width: 50%;
  outline: none;
  border: none;
  z-index: 1;
}

.newsletter--input__info {
  height: 100%;
  width: 93%;
  border: none;
  padding-left: 2rem;
}

.newsletter--input__submit {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  background-color: #2f2b2e;
  color: #EAE7DC;
}

.newsletter--icon {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.bgvid {
  position: absolute;
  top: -50%;
  left: 0;
  z-index: -1;
  width: 150%;
}

.bgvid::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #E98074;
  z-index: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  font-weight: bold;
  font-size: 3.5rem;
  color: #E85A4F;
}

.title {
  color: #2f2b2e;
}

.title__slide {
  margin-top: 7rem;
  color: #2f2b2e;
}

.title__standard {
  font-size: 2.5vw;
  text-align: justify;
}

.title__standard::after {
  content: "";
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.title__highlight {
  font-size: 3.5vw;
  text-align: justify;
  background-color: #E85A4F;
  font-style: italic;
  padding: 0 1rem;
  font-weight: 700;
}

.title__highlight::after {
  content: "";
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.description {
  font-size: 1vw;
  text-align: center;
}

.description::after {
  content: "";
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.description__slide {
  margin: 3rem 4rem 2rem 0;
  color: #E98074;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slideshow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100vw)[3];
      grid-template-columns: repeat(3, 100vw);
  -ms-grid-rows: (100vh)[3];
      grid-template-rows: repeat(3, 100vh);
  height: 100vh;
  position: relative;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.slideshow0 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slideshow1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slideshow2 {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.slideshow-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100vw)[3];
      grid-template-columns: repeat(3, 100vw);
  -ms-grid-rows: (100vh)[3];
      grid-template-rows: repeat(3, 100vh);
  height: 100vh;
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
}

.slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.slide--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  -webkit-filter: opacity(0.85);
          filter: opacity(0.85);
}

.slide--info {
  display: -ms-grid;
  display: grid;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  min-width: 300px;
  -ms-flex-line-pack: center;
      align-content: center;
}

*,
*::before,
*::after {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #EAE7DC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=sass.css.map */