//COLORS
$color-primary: #EAE7DC;
$color-primary-light: #D8C3A5;
$color-primary-grey: #8E8D8A;
$color-secondary-light: #E98074;
$color-secondary-dark: #E85A4F;

//FONT-SIZE
$default-font-size: 1.6rem;
