.login{
    &__form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__link{
        list-style: none;
        text-decoration: none;
        color: $color-black;
        font-size: 2rem;
        cursor: pointer;

        &:not(:last-child){
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        &:hover{
            text-decoration: underline;
            text-decoration-color: $color-secondary-light;
        }
    }
}