.container{
    &__announcement{
        height: 4rem;
        background-color: #E85A4F;
        color: #EAE7DC;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
    }

    &__navbar{
        height: 6rem;
    }

    &__slider{
        width:100%;
        height:100vh;
        display:flex;
        background-color: $color-primary;
        position: relative;
    }
}