.filter{
    display: flex;
    justify-content: end;
    width: 100%;

    &__left{
        display: flex;
        flex-direction: row;
        width: 71%;
        align-items: center;
    }

    &__right{
        width: 20%;
        //height: 150%;
        //text-align: center;
    }

    &__option{  
        display: flex;
        align-items: center;
        align-content: center;
        height: 10%;

        &--product{
            margin: 2rem;
        }

        &--single{
            margin-top: 4rem;
            //display: flex;
            //justify-content: space-between;
            //flex-wrap: wrap;
        }
    }

    &__text{
        font-size: 3rem;
        font-weight: 600;

        &--black{
            margin-left: 2rem;
            margin-right: 2rem;
        }

    }

    &__sizes{
        width: 100%;
        padding: 1rem;
        padding-left: 4rem;
        margin-right: 2rem;
        display: flex;
    }

    &__type{
        font-size: 3rem;
        text-align: center;
        min-width: 100%;
    }

    //design filter
    &__select{
       
    }
}

//stop border from moving screen
.type__bg{
    margin-right: 4rem;
    transition: .5s all ease;
    width: 25%;
    border-left: 0px solid rgba($color-primary-light, 0);
    border-right: 0px solid rgba($color-primary-light, 0);
    cursor: pointer;

    &:hover{
    border-left: 5px solid rgba($color-secondary-light, 1);
    border-right: 5px solid rgba($color-secondary-light, 1);
    }
    
}