.navbar{
    &--wrapper{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    &--left{
        flex:1;
        display: flex;
        align-items: center
    }

    &--right{
        flex:1;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        color: #8E8D8A;
    }

    &--center{
        flex:1;
        text-align: center;
    }

    &--language{
        font-size: 14px;
        cursor: pointer;
        color: #8E8D8A;
    }

    &--menu-item{
        font-size: 1.7rem;
        cursor: pointer;
        margin-left: 25px;
    }
}