.newsletter{
    height: 60vh;
    background-color: rgba($color-secondary-light, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $color-primary;
    overflow: hidden;
    position: relative;
    opacity: 1;

    @include media('<=phone'){
        text-align: center;
    }
    

    &__title{
        font-size: 7rem;
        margin-bottom: 4rem;
        position: relative;
        z-index: 1;
        opacity: 1.5;
    }
    &__description{
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 4rem;
        z-index: 1;

        @include media('<=phone'){
           font-size: 2.5rem; 
        }
        
    }
    &__input{
        display: flex;
        height: 4rem;
        width: 50%;
        outline: none;
        border: none;
        z-index: 1;

        @include media('<=phone'){
            width: 80%; 
        }
        

        &--info{
        height: 100%;
        width: 93%;
        border: none;
        padding-left: 2rem;
        
        }

        &--submit{
        width: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        background-color: $color-black;
        color: $color-primary;

        @include media('<=phone'){
            width: 18%;  
        }
        }

    }
    
    &__icon{
        transform: scale(2);
    }
    
}

.bgvid{
    position:absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    width: 150%;
    min-width: 2000px;

    @include media('<=phone'){
        min-width: 300px; 
        top: -28rem;
        left: -75rem;
        width: 250rem;
    }
    
    &::before{
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $color-secondary-light;
        z-index: 1;
    }
}