.search-bar{
    border: .5px solid #8E8D8A;
    display:flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;

    @include media('<=phone'){
        margin-left: 1rem;  
        margin: 0;
        width: 8rem;
    }

    &__input{
        border:none;
        background-color: $color-primary;
        outline: none;

        @include media('<=phone'){
            width: 5rem;
        }
    }

}